
.pd-5{padding: 5%;}
.pd-10{padding: 10%;}
.pd-15{padding: 15%;}
.pt-5{padding-top: 5%;}
.pb-5{padding-bottom: 5%;}
.pl-5{padding-left: 5%;}
.pr-5{padding-right: 5%;}
.mt-0{margin-top: 0%;}
.ml-5{margin-left: 5%;}
.text-white{color: white;}
.text-black{color: black;}
.text-salmon{color: #F24848;}
.color{color: #F24848;}
.bg-salmon{background-color: #F24848;}
.bg-black{background-color: black;}
.bg-white{background-color: white;}
header span{border:.1em solid gray;}
#fondo{
	background-image: url("../img/header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 	100%;
}
.espacio{
	width: 7%;
	border:.2em solid #F24848;
}
#espacio2{border:.2em solid white;}
.letras1{
	color: white;
	opacity:
	 0.5;
}
button{
 	border-radius: 15px;
 	padding: 1%;
 	border: none;
}
img{
	height: 35%;
	width: 	110%;
}
.caja{
	background-color: rgba(249,108,63,0.7);
	padding: 14%;
	opacity: 0.0;
	height: 100%
}
.fotos{
	margin:0px auto !important ;
	height: 250px;
	background-size: 100% 100%;
	background-repeat: no-repeat; 	
}
.caja:hover{opacity: 1;}
#img1{background-image: url("../img/1.jpg");}
#img2{background-image: url("../img/2.jpg");}
#img3{background-image: url("../img/3.jpg");}
#img4{background-image: url("../img/4.jpg");}
#img5{background-image: url("../img/5.jpg");}
#img6{background-image: url("../img/6.jpg");}

@media screen and (max-width: 768px) {
	nav{background-color: white}
	.portafolio{color: #F24848;}
}
